body {
  animation: blurLoad 0.2s ease-in;
  background: mediumseagreen;
  font-family: Arial;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

@keyframes blurLoad {
  0% {background-size:cover; filter: blur(10px)}
  90% {background-size:cover; filter: blur(1px)}
  100% {background-size:cover; filter: blur(0)}
}


.main {
  display: flex;
  justify-content: center;
}
.column {
  /*background: gray;*/
  flex: 1;
}
article {
  background: white;
  border-radius: 15px;
  margin: 20px 15px;
  padding: 10px;
  transition: all 0.5s ease-in-out;
}
article:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px rgba(0,0,0,0.7);
}
article > img {
  border-radius: 8px;
  object-fit: cover;
  width: 100%;
}
article > .article-body {margin: 10px;}
article > .info {
  background: black;
  display: flex;
  font-size: 75%;
  justify-content: space-between;
}
.info {color: #777;}


#top-title {
  color: white;
  filter: drop-shadow(0 0 3px white);
  font-size: 40px;
}


#video-display {
  background: seagreen;
  /*border: 5px white solid;*/
  border-radius: 15px;
}

.linked-button {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: 1s;
}
.linked-button > article {
  background: seagreen;
}


#currently-playing-info {
  display: flex;
  justify-content: center;
  height: 100px;
}
#currently-playing-info > p {
  color: black;
  flex: 2;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
#thumbnail-img {
  border-radius: 8px;
  flex: 1;
  float: left;
  object-fit: cover;
  overflow: hidden;
}
img {
  box-shadow: 0 0 200px rgba(0,0,0,0.9) inset;
}